<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vvm.sh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.planoAccao.PlanoAccaoActivity"></activity>
        <activity
            android:name=".ui.atividadesPendentes.relatorios.propostaPlanoAccao.PropostaPlanoAccaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.trabalhadoresVulneraveis.TrabalhadorVulneravelRegistoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.trabalhadoresVulneraveis.TrabalhadoresVulneraveisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.checklist.QuestoesChecklistActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.registoVisita.RegistoVisitaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.checklist.ChecklistActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.registoVisita.DadosClienteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.registoVisita.TrabalhoRealizadoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.atividadesPendentes.relatorios.levantamentos.RiscoRegistoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.atividadesPendentes.relatorios.levantamentos.RiscosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.levantamentos.CategoriasProfissionaisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.levantamentos.PerigoTarefaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.levantamentos.LevantamentosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.atividadesPendentes.relatorios.avaliacaoAmbiental.AvaliacaoTemperaturaHumidadeRegistoActivity" />
        <activity
            android:name=".ui.pesquisa.PesquisaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.avaliacaoAmbiental.RelatorioAvaliacaoAmbientalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.avaliacaoAmbiental.AvaliacaoIluminacaoRegistoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.atividadesPendentes.relatorios.avaliacaoAmbiental.AvaliacoesAmbientaisActivity" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.avaliacaoAmbiental.AvaliacaoGeralActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.quadroPessoal.QuadroPessoalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.quadroPessoal.ColaboradorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.transferencias.UploadTrabalhoActivity" />
        <activity android:name=".ui.ocorrencias.OcorrenciasHistoricoActivity" />
        <activity android:name=".ui.opcoes.AtualizacaoAppActivity" />
        <activity android:name=".ui.contaUtilizador.OpcoesAvancadasActivity" />
        <activity android:name=".ui.transferencias.DownloadTrabalhoActivity" />
        <activity android:name=".ui.contaUtilizador.DefinicoesActivity" />
        <activity
            android:name=".ui.AssinaturaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.opcoes.TiposActivity" />
        <activity
            android:name=".ui.autenticacao.PerfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.autenticacao.AutenticacaoActivity" />
        <activity android:name=".ui.apresentacao.ApresentacaoActivity" />
        <activity android:name=".carregamentos.CarregamentoTiposActivity" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.FormandoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.AcaoFormacaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.relatorios.FormacaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ocorrencias.RegistarOcorrenciaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.ocorrencias.OcorrenciasRegistoActivity" />
        <activity
            android:name=".ui.anomalias.AnomaliasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.parqueExtintores.ExtintoresActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ocorrencias.OcorrenciasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.cliente.SinistralidadeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesPendentes.AtividadesPendentesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.crossSelling.CrossSellingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.atividadesExecutadas.AtividadesExecutadasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.cliente.InformacaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tarefa.TarefaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FinestWebViewTheme.Light" />
    </application>

</manifest>